@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('../image/font.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

h1 {
    font-size: 25px;
    color: #ffffff;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    
}

.login-form {
    background: linear-gradient(to bottom, rgb(255, 60, 0), rgba(22, 22, 22, 0.205)); 
    max-width: 400px;
    margin: 100px auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgb(0, 0, 0);
}


.form-group {
    margin-bottom: 1px;
    
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
}


.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}


.checkbox-label {
    display: flex;
    align-items: center;
}

.checkbox-input {
    margin-right: 8px;
}

.checkbox-text {
    font-size: 14px;
    color: #000000;
    font-weight: bold;
    
}


.form-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.forgot-password-link {
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
}

.forgot-password-link:hover {
    text-decoration: underline;
}

.submit-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}